.App {

  font-size: .8125em;
 
  

}

p{
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
  width: 0;
  min-width: 100%;
 
}

img {
  width: 100%;
  cursor: pointer;
}

button{
  cursor: pointer;
}

button:hover{
  opacity: 0.5;
}


